@import url("https://fonts.googleapis.com/css?family=Kanit&display=swap");

* {
    text-align: center;
}

p, h1, h2, h3, h4, h5 {
    color: white;
}

button {
    flex: 1;

    border: none;
    align-content: center;
    border-radius: 8px;

    padding-left: 20%;
    padding-right: 20%;
    font-family: "Kanit", sans-serif;
    font-weight: bold;
    font-size: x-large;

    color: rgb(255, 255, 255);
    background-color: rgb(122, 164, 246);

    box-shadow: 5px 5px 10px 5px rgb(40, 50, 255);

}

button:hover {
    background-color: rgb(72, 116, 194);
    transition: 0.3s;
}

button:active {
    background-color: rgb(18, 69, 180);
}

.extractedText {
    font-family: "Kanit", sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 5px 6px 5px rgb(95, 51, 255);
}