.header {
  text-align: center;
  background-color: #00ffff;
  font-weight: bold;
}

.subtitle {
  flex: 1;
  margin-left: 20;
  font-size: 30;
  font-weight: bold;
  margin-top: 20;
}

.list {
  flex: 1;
  margin-left: 40;
  font-size: 20;
  margin-top: 30;
  margin-bottom: 10;
}

.body {
  flex-direction: row;
  justify-content: space-around;
}
